Used	Legend		Color		Samples	
-------------------------------------------------------------------------
1	DY		kUABrown	DY0,DY1,DY2,DY3,DY4
0	DY		kUABrown	DYEE-powheg,DYMUMU-powheg,DYTAUAU-powheg
1	Diboson		kUABrown50	WW,WZ,ZZ
1	W		kYellow		WJets	
1	TT		kUARed		TTJetsFullLept,TTJetsSemiLept,TTJetsHadronic
1	T		kUARed50	T-s,Tbar-s,T-t,Tbar-t,T-W,Tbar-W
1	signal		kUABlue		ZVBF	
0	QCD		kRed		QCD100,QCD250,QCD500,QCD1000
0	signal		kUABlue		signal	
