Used	Legend			Color		Samples	
-----------------------------------------------------------------------------------------------------------------------------------
1	DY			831		DY0,DY1,DY2,DY3,DY4
1	VV			592		WW,WZ,ZZ
1	W			809		WJets	
1	Top			824		TTJetsFullLept,TTJetsSemiLept,TTJetsHadronic,T-s,Tbar-s,T-t,Tbar-t,T-W,Tbar-W
1	EW			804		EWKZ
0	QCD			kRed		QCD100,QCD250,QCD500,QCD1000
