Used	Name				Xbins	Xmin		Xmax		logX		Ybins	Ymin		Ymax		logY		plot	reference		title x-axis				title y-axis			x-min		x-max		logZ	z-min 		z-max		r-min		r-max
------------------------------------------------------------------------------------------------------------------------------------------------	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
1	centralJet1_pt_vs_BDT		50	30		250		0		28	-.6		.8		0		1	20140115_Full		p_{T}(cj1)				N_{events}			30		250		0	0.02		1500000		.7		1.6
1	centralHT_vs_BDT		50	30		250		0		28	-.6		.8		0		1	20140115_Full		central__H_{T}				N_{events}			30		250		0	0.02		1500000		.7		1.6
1	softTrackJet1_pt_vs_BDT		24	0		96		0		28	-.6		.8		0		1	20140115_Full		p_{T}(stj1)				N_{events}			0		96		0	0.02		15000000	.3		1.9
1	stjHT3_vs_BDT			24	0		96		0		28	-.6		.8		0		1	20140115_Full		soft__H_{T}(3)				N_{events}			0		96		0	0.02		15000000	.3		1.9

1	centralJet1_pt_vs_dEta		50	30		250		0		20	0		9		0		1	20140115_Full		p_{T}(cj1)				N_{events}			30		250		0	0.02		1500000		.7		1.6
1	centralHT_vs_dEta		50	30		250		0		20	0		9		0		1	20140115_Full		central__H_{T}				N_{events}			30		250		0	0.02		1500000		.7		1.6
1	softTrackJet1_pt_vs_dEta	24	0		96		0		20	0		9		0		1	20140115_Full		p_{T}(stj1)				N_{events}			0		96		0	0.02		15000000	.3		1.9
1	stjHT3_vs_dEta			24	0		96		0		20	0		9		0		1	20140115_Full		soft__H_{T}(3)				N_{events}			0		96		0	0.02		15000000	.3		1.9
