Used	Name			Xbins	Xmin		Xmax		logX		Ybins	Ymin		Ymax		logY		plot	reference		title x-axis				title y-axis			x-min		x-max		y-min		y-max		r-min		r-max
-----------------------------------------------------------------------------------------------------------------------------------------	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
