Used	Name			bins	min		max		logX		plot	reference		title x-axis			title y-axis				ymin	ymax	xmin	xmax
--------------------------------------------------------------------------------	----------------------------------------------------------------------------------------------------------------------------------
1	softHT3_vs_PV		10	-.5		50.5		0		1	Full20130709b		#primary__vertices		<__soft__H_{T}(3)__>__[GeV]		0	21	-.5	50.5
1	softHT_vs_PV		10	-.5		50.5		0		0	Full20130709b		#primary__vertices		<__soft__H_{T}__>__[GeV]		0	82	-.5	50.5
1	softHT3_vs_mjj		7	70		2000		1		1	Full20130709b		M(jj)__[GeV/c^{2}]		<__soft__H_{T}(3)__>__[GeV]		0.001	34	70	1999
1	softHT_vs_mjj		7	70		2000		1		0	Full20130709b		M(jj)__[GeV/c^{2}]		<__soft__H_{T}__>__[GeV]		0	94	70	1999
1	softHT3_vs_detajj	20	0		10		0		1	Full20130709b		#Delta#eta(j_{1},j_{2})		<__soft__H_{T}(3)__>__[GeV]		0.001	31	0	9.99
1	softHT_vs_detajj	20	0		10		0		0	Full20130709b		#Delta#eta(j_{1},j_{2})		<__soft__H_{T}__>__[GeV]		0	88	0	9.99
1	nJets_vs_HT		20	40		1000		0		1	Full20130709b		H_{T}__[GeV]			<__N_{jets}__>				0.001	4.7	40	999
1	nJets_vs_detajj		20	0		10		0		1	Full20130709b		#Delta#eta(j_{1},j_{2})		<__N_{jets}__>				1.7	3.5	0	9.99
1	cosdPhi_vs_HT		20	40		1000		0		1	Full20130709b		H_{T}__[GeV]			<__cos(#Delta#phi(j_{1},j_{2}))__>	-.699	-.05	40	999
1	cosdPhi_vs_detajj	20	0		10		0		1	Full20130709b		#Delta#eta(j_{1},j_{2})		<__cos(#Delta#phi(j_{1},j_{2}))__>	-.68	.399	0	9.99
1	nJets_vs_HT3		20	40		1000		0		0	Full20130709b		H_{T}__[GeV]			<__N_{jets}__>				0	5	40	1000
