Used	Name				bins	min		max		logX		plot	reference		title x-axis			title y-axis				ymin	ymax	xmin	xmax	rmin	rmax
-----------------------------------------------------------------------------------------	------------------------------------------------------------------------------------------------------------------------------------------------------------
3	softHT3_vs_PV			10	-.5		50.5		0		1	20131119_Fast		#primary__vertices		<__soft__H_{T}(3)__>__[GeV]		0	21	-.5	50.5	.91	1.19
3	softHT3_vs_mjj			7	70		2000		1		1	20131119_Fast		M(jj)__[GeV]			<__soft__H_{T}(3)__>__[GeV]		0.001	24	70	1999	.88	1.12
3	softHT3_vs_detajj		20	0		10		0		1	20131119_Fast		#Delta#eta(j_{1},j_{2})		<__soft__H_{T}(3)__>__[GeV]		0.001	19	0	7.999	.79	1.21
1	nJets_vs_HT			20	30		1000		0		1	20131119_Fast		H_{T}__[GeV]			<__N_{jets}__>				0.001	4.7	30	999	.85001	1.14999
1	nJets_vs_detajj			20	0		10		0		1	20131119_Fast		#Delta#eta(j_{1},j_{2})		<__N_{jets}__>				1.7	3.5	0	7.999	.79	1.14999
1	cosdPhi_vs_HT			20	30		1000		0		1	20131119_Fast		H_{T}__[GeV]			<__cos(#Delta#phi(j_{1},j_{2}))__>	-.699	-.05	30	999	.71	1.29	
1	cosdPhi_vs_detajj		20	0		10		0		1	20131119_Fast		#Delta#eta(j_{1},j_{2})		<__cos(#Delta#phi(j_{1},j_{2}))__>	-.68	.399	0	7.999	.71	1.29
1	nJets_vs_HT3			20	30		1000		0		0	20131119_Fast		H_{T}__[GeV]			<__N_{jets}__>				0	5	30	1000	.81	1.19
1	pullEta_j1_vs_BDT		20	-.6		.8		0		0
1	pullEta_j1_vs_mjj		20	70		5000		1		0
1	pullEta_j1_vs_zstarZ		20	0		3		0		0
1	pullEta_j1_vs_eta		20	0		4.7		0		0
1	pullEta_j1_vs_dEta		20	0		8		0		0
1	pull2Eta_j1_vs_BDT		20	-.6		.8		0		0
1	pull2Eta_j1_vs_mjj		20	70		5000		1		0
1	pull2Eta_j1_vs_zstarZ		20	0		3		0		0
1	pull2Eta_j1_vs_eta		20	0		4.7		0		0
1	pull2Eta_j1_vs_dEta		20	0		8		0		0
1	pullEta_j2_vs_BDT		20	-.6		.8		0		0
1	pullEta_j2_vs_mjj		20	70		5000		1		0
1	pullEta_j2_vs_zstarZ		20	0		3		0		0
1	pullEta_j2_vs_eta		20	0		4.7		0		0
1	pullEta_j2_vs_dEta		20	0		8		0		0
1	pull2Eta_j2_vs_BDT		20	-.6		.8		0		0
1	pull2Eta_j2_vs_mjj		20	70		5000		1		0
1	pull2Eta_j2_vs_zstarZ		20	0		3		0		0
1	pull2Eta_j2_vs_eta		20	0		4.7		0		0
1	pull2Eta_j2_vs_dEta		20	0		8		0		0
1	pullEta_dijet_vs_BDT		20	-.6		.8		0		0
1	pullEta_dijet_vs_mjj		20	70		5000		1		0
1	pullEta_dijet_vs_zstarZ		20	0		3		0		0
1	pullEta_dijet_vs_eta		20	0		4.7		0		0
1	pullEta_dijet_vs_dEta		20	0		8		0		0
1	pull2Eta_dijet_vs_BDT		20	-.6		.8		0		0
1	pull2Eta_dijet_vs_mjj		20	70		5000		1		0
1	pull2Eta_dijet_vs_zstarZ	20	0		3		0		0
1	pull2Eta_dijet_vs_eta		20	0		4.7		0		0
1	pull2Eta_dijet_vs_dEta		20	0		8		0		0
